.page-header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: #000;
  color: #fff;
  z-index: 999;

  .page-header__btn {
    background: none;
    border: none;
    color: #fff;
  }

  .logo {
    margin-left: 1.5rem;

    .logo-link {
      display: block;
      height: 26px;
    }
  }

  .page-header-right {
    margin-left: auto;
    display: flex;

    .page-header-right__item {
      position: relative;
      padding: .2rem 1rem;
      display: flex;
      align-items: center;
    }

    .page-header-right__item + .page-header-right__item:before {
      content: '';
      position: absolute;
      left: 0;
      background: #fff;
      height: 100%;
      width: 1px;
    }

  }
}

.user {
  .user__btn {
    display: flex;
    align-items: center;
  }

  .user-avatar {
    img {
      display: block;
      border-radius: 50%;
      width: 30px;
      margin-right: .5rem;
    }
  }
}

.search {
  .search__input {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .2s ease-in-out;


    &.search__input_active {
      width: 150px;
      opacity: 1;
    }
  }
}
