<h1>Projects</h1>

<div class="content-box">
  <div class="list-filter">
    <div class="list-filter-item">
      <button class="list-filter__btn">
        Title <i class="fa fa-caret-down"></i>
      </button>
      <button class="list-filter__btn">
        Date <i class="fa fa-caret-down"></i>
      </button>
      <button class="list-filter__btn">
        Location <i class="fa fa-caret-down"></i>
      </button>
      <button class="list-filter__btn">
        Status <i class="fa fa-caret-down"></i>
      </button>
    </div>
  </div>

  <div class="project-list">
    <app-project-card *ngFor="let project of projects"
                      [project]="project">
    </app-project-card>
  </div>
</div>
