@import "../../styles/common";

.app-navigation {
  position: fixed;
  display: block;
  top: 70px;
  left: 0;
  width: 60px;
  height: 100%;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  transition: width .3s ease-in;
  z-index: 9999;

  &:hover {
    width: 200px;
  }
}

.menu {
  list-style-type: none;
  padding: 0;

  .menu-item {
    position: relative;
    width: 200px;
    height: 60px;
  }

  .menu-btn {
    @extend .btn-clear;

    position: absolute;
    display: flex;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    border-left: 3px solid transparent;
    cursor: pointer;

    .menu-btn__icon {
      flex: 1 1 auto;
      display: block;
      width: 57px;
      font-size: 1.5rem;
      flex-grow: 0;     /* do not grow   - initial value: 0 */
      flex-shrink: 0;   /* do not shrink - initial value: 1 */
      flex-basis: 57px;
    }

    .menu-btn__text {}

    &.menu__btn_active {
      border-left: 3px solid #333;
    }
  }
}
