<nav class="app-navigation">
  <ul class="menu">
    <li class="menu-item">
      <button class="menu-btn menu__btn_active">
        <i class="menu-btn__icon fas fa-suitcase"></i>

        <span class="menu-btn__text">Projects</span>
      </button>
    </li>
    <li class="menu-item">
      <button class="menu-btn">
        <i class="menu-btn__icon fas fa-suitcase"></i>

        <span class="menu-btn__text">Menu item #2</span>
      </button>
    </li>
    <li class="menu-item">
      <button class="menu-btn">
        <i class="menu-btn__icon fas fa-suitcase"></i>

        <span class="menu-btn__text">Menu item #3</span>
      </button>
    </li>
    <li class="menu-item">
      <button class="menu-btn">
        <i class="menu-btn__icon fas fa-suitcase"></i>

        <span class="menu-btn__text">Menu item #4</span>
      </button>
    </li>
    <li class="menu-item">
      <button class="menu-btn">
        <i class="menu-btn__icon fas fa-suitcase"></i>

        <span class="menu-btn__text">Menu item #5</span>
      </button>
    </li>
  </ul>
</nav>
